body {
  margin: 0;
  background: lightcoral;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.countdown {
  font-size: 50px;
}

.animate {
  animation: zoomIn 0.6s ease-out;
}

@keyframes zoomIn {
  0% {
    // transform: scale(10);
    font-size: 500px;
  }

  100% {
    // transform: scale(1);
    font-size: 50px;
  }
}
